<nav class='navbar is-dark'>
  <div class='container'>
    <div class='navbar-brand'>
      <a class='navbar-item' href='/'> 
        <h1 class='is-size-3 has-text-white-semibold '>Blog</h1>
      </a>    
    </div>
    <div class='navbar-menu'>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
              <a class="button is-primary" href='/posts/new'>
                <strong>+ New post</strong>
              </a>
              <a class="button is-light" href='/posts'>
                List posts
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>    
</nav>